html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
    height: 100%;
	font-family: georgia;
}
h1{
	font-size: 50px;
	font-style: italic;
	margin: 15px;
}
p{
    margin: 3px;
    background: #ececec;
    padding: 5px;
    border-radius: 3px;
}
.status {
    font-weight: bold;
	padding: 0px 6px;
    border-radius: 4px;
    margin-right: 10px;
    font-family: consolas;
}
.status.status_ok {
    background: #dfd;
}
.status.status_decent {
    background: #ffe;
}
.status.status_fail {
    background: #fdd;
}
.status.status_fail_hard {
    background: #dbb;
}
.status.status_unknown {
    background: #eee;
    color: #999;
}
.status.status_manual_timeout{
    background: #eee;
    color: white;
}

#application{
    height: 100%;
}
#list{
    height: 80%;
}
.log {
    margin: 15px 10px;
	height: 30px;
}
.loglist {
    height: 100%;
    overflow: auto;
    margin-top: 10px;
}
button {
    border: none;
    padding: 3px 10px;
    margin: 4px;
    background: #892343;
    color: #ddd;
    font-weight: bold;
	font-variant: small-caps;
}
button.pushed{
	background: #589067;
}
table {
	border-collapse: collapse;
	width: 100%;
}
thead {
    font-family: georgia;
    font-size: 25px;
    font-variant: small-caps;
}
tr.log td {
    vertical-align: middle;
    height: 30px;
	font-size: 12px;
}
tr.log:nth-child(odd) {
    background: rgb(238, 239, 243);
}
tr.log:hover{
	background: rgb(223, 225, 234);
}
td.code {
	width: 10%;
}
td.message{
	width: 20%;
}
td.time{
	width: 10%;
}
td.url{
	width: 60%;
}
